.banner {
	background-image: linear-gradient(-225deg, #484c4ecf 0%, #eaeced54 50%), url(../../images/background.png);
	color: #fdfdfde0;
	padding: 55px 0px;
	background-size: cover;
	background-position: center;
}

.banner h1 {
	font-size: 50px;
	font-weight: bold;
}

.banner h2 {
	font-size: 15px;
	font-weight: lighter;
	opacity: 0.8;
	margin-bottom: 40px;
	color: black;
	background-color: #ffffff;
	font-family: 'Open Sans', sans-serif;
}